#president { background: url(icon.ng) 0px -125px no-repeat; }
#administrator { background: url(icon.ng) -126px -247px no-repeat; }
#teacher { background: url(icon.ng) -248px -372px no-repeat; }
#finance { background: url(icon.ng) -373px -495px no-repeat; }
#human_resource { background: url(icon.ng) -496px -613px no-repeat; }
#registrar { background: url(icon.ng) 614px -741px no-repeat; }
#library { background: url(icon.ng) -742px -873px no-repeat; }